<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals</title>
    <%- include("../imports.ejs") %>
</head>
<body>
    <h1>Animals App</h1>

    <h2>Create a New Animal</h2>
    <form action="/animal" method="post">
        <input type="text" name="species" placeholder="species of animal"/>
        <input type="text" name="location" placeholder="location of animal"/>
        <input type="checkbox" name="extinct" />
        <input type="text" name="life-expectancy" placeholder="life expectancy"/>
        <input type="submit" value="Create"/>

    </form>

</body>
</html>